* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    background-color: #404A65;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(242, 243, 246);
  }

  .author-info a {
    text-decoration: none;
  }

  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .container h1{
    color: #fff;
    font-size: 5rem;
    
    font-weight: bolder;
    -webkit-text-stroke: 3px black;
    padding: 5rem 0rem 2rem 0rem;
  }

  .container p{
    color: #fff;
    font-size: 2rem;
    padding: 0rem 0rem 4rem 0rem;
  }

  .imgText h2{
    color: #fff;
    font-size: 2rem;
    padding: 0rem 0rem 4rem 0rem; 
  }

  .coin{
    padding-bottom: 0.5rem;
    border-radius: 50%;
    position: relative;
  }

  .imgShadow{
    padding-bottom: 1rem;
  }

  .btnRandom{
    margin-bottom: 5rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: rgb(30, 105, 181);
    border-radius: 10px;
  }

  .animate{
    animation: flip 2s ease-out;
  }

  @keyframes flip {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(3600deg);
    }
  }